@charset "UTF-8";
/* ==========================================================================
   Author's custom LAYOUT
   ========================================================================== */
/* Diseño tableta: de 481 px a 768 px. Hereda estilos de: Diseño móvil. */
/*mediaquery desktop 2*/
/*mediaquery desktop 2*/
/*mediaquery desktop 2*/
/*mediaquery desktop 2*/

/*SECTION 1*/
.bckContact{
	background-image: url("../img/bgs/gamolequipo.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 350px;
}

.bckBlack{
	background-color: rgba(0, 0, 0, 0.5);
	width: 110%;
	height: 450px;
	padding-left: -15px;
}

.conecta h1{
    margin-left: -150px;
    color: #fff;
    font-weight:600;
}

/* Backg section*/
.backgroud-Image-White{
	background-image: url("../img/backg.jpg");
	background-size: cover;
	background-position: center bottom;
	width: 100%;
	height: auto;
	padding-bottom: 50px;
}

.backgroud-White {
    background: rgba(250, 250, 250, 0.7);
    width: 100%;
    height: 230px;
}

.contact h2{
	color: #15293e;
	font-size: 4em;
	font-weight: 600;
	padding: 50px 0px 0px 0px;
    text-align: center;
}

.lineaContact {
    border: 1px solid #f37820;
    width: 25%;
}

.sloganContact h6{
    text-align: center;
	color: #15293e;
	font-size: 1.3em;
	letter-spacing: 2px;
}
.box-white{
	background-color: #fff;
	margin: 50px 0px 0px 50px;
	padding:80px 80px;
	-webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, .5);
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

/* FORMULARIO */

.form-control {
    display: block;
    width: 100%;
    height: 38px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    box-shadow: inset 0 0px 0px rgba(55, 54, 54, 0.075);
    padding: 0px;
}
.NoRobot,
.avisoprivacidad{
	color: #000;
	font-weight: 400;
	font-size: 0.9em;
}

.avisoprivacidad {
	text-decoration: underline;
}
.boxCaptcha {
    background: rgba(191, 191, 191, 0.1);
    padding: 30px 0px 30px 10px;
    margin-right: 55px;
    border-radius: 5px;
    border: 1px solid #eee;
    font-size: 0.9em;
}
label {
	color: #15293e;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 1.3em;
}
select>option{
	background-color: black;
}

select> .form-control{
	background-color: #15293e;
}

.btn-contact-enviar{
    margin-left: 400px;
    margin-top: -35px;

}
/* box blue*/

.box-blue {
    color: #fff;
    background-color: #15293e;
    margin: 95px 0px 0px 0px;
    padding: 60px 40px 10px 40px;
    -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, .5);
    height:auto;
}

#circleRedes {
	margin: -90px -80px 30px -80px;
    padding: 0%;
}

.bkg-reds {
    background-image: url("../img/bgs/bkg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 0% 0% 4%;
    width: 80px;
    height: 80px;
    color: #f37920;
    border: 10px solid #fff;
    font-size: 2em;
	margin: -3% 0px 0px 24px;
}
.iconsContact{
	list-style: none;
    display: inline;
    text-decoration: none;
}

li a .bkg-reds{
    font-size: 2em;
}

.direc p{
    margin: 10px 0px 5px 5px;
    font-weight: 200;
}

.no-mar {
	margin-right: 0;
	margin-left: 0;
}

.no-pad {
	padding-right: 0;
	padding-left: 0;
}
@media (max-width: 1980px){
	 .lineaContact {
        width: 5%;
    }
}
@media (max-width: 980px) {
    .box-white {
	    margin: 20px -5px;
	    padding: 50px 50px;
    }
    .bkg-reds {
	    width: 100px;
	    height: 100px;
	    margin: -20px 0px 0px 60px;
	}

   li a .bkg-reds {
        font-size: 2em;
    }
     .lineaContact {
        width: 10%;
    }
}
@media (max-width: 800px){
	.box-white {
	    margin: 20px -5px;
	    padding: 50px 50px;
    }
    
    .btn-contact-enviar {
	    margin-top: -6%;
	    margin-left: 60%;
	    padding: 12px 35px;
	}
    .box-blue {
	    width: 100%;
	    height: auto;
		margin: 40px 0px;
	}
    .bkg-reds {
        width: 95px;
        height: 95px;
        margin: -20px 0px 0px 60px;
        border: 10px solid #fff;
    }
   li a .bkg-reds {
        font-size: 2em;
    }
    .direc p {
        margin: 10px 50px 5px 35px;
        font-size: 18px;
    }
}
@media (max-width: 768px){
}
@media (max-width: 640px){
    .bckContact {
	    background-position: center;
	    background-size: inherit;
	    height: 180px;
	}
	/*.bkg-reds {
	    width: 85px;
	    height: 85px;
	    margin: 7px 14px;
	    border: 6px solid #fff;
	}*/
     .conecta h1{
	    margin-left: -60px;
        margin-top: -40px;
        font-size: 1.8em;
	}
    .backgroud-White {
        height: 100px;
    }
    .contact h2{
	    font-size: 1.7em;
	    padding: 0px;
	}
    .lineaContact {
        width: 25%;
        margin-bottom: 15px;
        margin-top: 0px;
    }
	.sloganContact h6{
	    font-size: 0.8em;
	    letter-spacing: 1px;
	    margin: 0px -45px 0px -45px;
	}
    .box-white {
	    margin: 20px -5px;
	    padding: 30px 30px;
    }
    .datosRe p{
		margin-top: 5px;
		font-size: 80%;
	}
    .btn-contact-enviar {
	    margin-top: -45px;
	    margin-left: 60%;
	    padding: 12px 35px;
	}
    .box-blue {
	    width: 100%;
	    height: auto;
		margin: 40px 0px;
	}
	.bkg-reds {
	   width: 55px;
        height: 55px;
        margin: 7px;
	    border: 6px solid #fff;
	}
    .direc p {
        margin: 0px -15px 10px -15px;
        font-weight: 200;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0px;
    }
    li a .bkg-reds {
        font-size: 1.5em;
    }
}

@media (max-width: 360px){
    .bkg-reds {
        width: 55px;
        height: 55px;
        margin: 7px 12px;
    }
}

@media (max-width: 320px){
    .bkg-reds {
	   width: 55px;
        height: 55px;
        margin: 7px;
	    border: 6px solid #fff;
	}
}